@font-face {
  font-family: yazılar;
  src: url(./font/Inter-Black.ttf);
}
@font-face {
  font-family: üstyazı;
  src: url(./font/Inter-Regular.ttf);
}
@font-face {
  font-family: yazı;
  src: url(./font/Inter-Thin-BETA.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

.header {
  display: flex;
  padding-top: 20.08px;
  padding-bottom: 20.08px;
  align-items: center;
  justify-content: space-around;
}
.footer{
  margin-top: 70vw;
display: flex;
padding-top: 30px;
padding-bottom: 30px;
align-items: center;
justify-content: space-around;
}

.ust-yazı > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  align-items: center;
  padding-top: 28.39px;
  font-family: üstyazı;
  font-size: 15px !important;
}

.sag-ust > img {
  margin-left: 35px;
  align-items: center;
}
.logoalt>img{
  margin-left: -100px;
  
}
.alt-yazı{
  display: flex;
  padding-left: 1vw;

}
.alt-yazı>a{
  margin-left: 5vw;
  text-decoration: none;
color: rgb(0, 0, 0);
align-items: center;
font-family: üstyazı;
font-size: 15px;
}

.sag-alt{
  display: flex;
  width: 9vw;

}
.sag-alt > img{
  margin-left: 3vw;
align-items: center;
}


.ortaresim > img {
  display: flex;
  position: relative;
}

.ortaresim > h1 {
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  padding-left: 50px;
  font-size: 70px;
}
.ortaresim > h2 {
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  padding-left: 60px;
  font-size: 70px;
}
.ortaresim > h3 {
  text-align: left;
  color: #010101;
  font-family: yazı;
  padding-left: 60px;
  font-size: 20px;
}





button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* RESPONSİVE */

@media only screen and (max-width: 600px) {
  .mainalt2>h2{
    position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  margin-left: 56vw;
  margin-top: 49vw;
  font-size: 2.5vw;}

  .mainalt>p{
    position: absolute;
    font-weight: bold;
    font-family: yazı;
    font-size: 13px;
    margin-left: 5vw;
    margin-top: 50vw;
    /* padding-bottom: 100px */
    ;
  }
  .mainpng2 > img {
    position: absolute;
    margin-left: 40vw;
    margin-top: 42vw !important;
    height: 20px;
  }

  .mainpng1 > img{
    position: absolute;
    margin-left: 65px;
    margin-top: 42vw;
    height: 20px;
  }
  .ust-yazı > a {
    margin-left: 0.1vw !important;
  }

  .buton-sekil {
    position: absolute;
    left: 9.5% !important;
    padding-top: 20% !important;
    width: 500px;
  }
  .ortaresim > h3 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: yazı;
    padding-left: 55px !important;
    padding-top: 35vw !important;
    font-size: 3vw;
  }
  .ortaresim > h2 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 55px !important;
    padding-top: 28vw !important;
    font-size: 3vw;
  }
  .ortaresim > h1 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 5vw;
  }
  .ortaresim > img {
    width: 84vw;
    padding-left: 150px;
  }
}

@media only screen and (min-width: 600px) {
  .mainalt2>h2{
    position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  margin-left: 56vw;
  margin-top: 49vw;
  font-size: 2.5vw;}

  .mainalt>p{
    position: absolute;
    font-weight: bold;
    font-family: yazı;
    font-size: 13px;
    margin-left: 4vw;
    margin-top: 50vw;
    
  }
  .mainpng2 > img {
    position: absolute;
    margin-left: 40vw;
    margin-top: 42vw !important;
    height: 25px;
  }

  .mainpng1 > img{
    position: absolute;
    margin-left: 56px;
    margin-top: 42vw;
    height: 25px;
  }
  .ust-yazı > a {
    margin-left: 3vw;
  }
}
.buton-sekil {
  position: absolute;
  left: 8.5%;
  padding-top: 20%;
  white-space: nowrap;
}

.ortaresim > h3 {
  position: absolute;
  text-align: left;
  color: #010101;
  font-family: yazı;
  padding-left: 55px;
  padding-top: 35vw;
  font-size: 3vw;
}
.ortaresim > h2 {
  /* background-color: #1a1a1a; */
  position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  padding-left: 55px;
  padding-top: 28vw;
  font-size: 3vw;
}

.ortaresim > h1 {
  position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  padding-left: 50px;
  padding-top: 20px;
  font-size: 5vw;
}
.ortaresim > img {
  width: 84vw;
  padding-left: 200px;
}

@media only screen and (min-width: 768px) {
  .mainalt2>h2{
    position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  margin-left: 52vw;
  margin-top: 49vw;
  font-size: 2.5vw;}

  .mainalt>p{
    position: absolute;
    font-weight: bold;
    font-family: yazı;
    font-size: 15px;
    margin-left: 4vw;
    margin-top: 50vw;
    /* padding-bottom: 100px */
    ;
  }
  .mainpng2 > img {
    position: absolute;
    margin-left: 32vw;
    margin-top: 42vw !important;
    height: 30px;
  }

  .mainpng1 > img{
    position: absolute;
    margin-left: 57px;
    margin-top: 42vw !important;
    height: 30px;
  }
  .üst-yazı > a {
    margin-left: 7vw;
  }
  .buton-sekil {
    position: absolute;
    left: 7%;
    padding-top: 20%;
    white-space: nowrap;
  }

  .ortaresim > h3 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: yazı;
    padding-left: 55px;
    padding-top: 35vw;
    font-size: 3vw;
  }
  .ortaresim > h2 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 55px;
    padding-top: 27vw;
    font-size: 3vw;
  }
  .ortaresim > h1 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 5vw;
  }
  .ortaresim > img {
    width: 84vw;
    padding-left: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .learn{
    position: absolute;
    font-family: üstyazı;
    font-size: 30px;
    width: 86px;
    height: 17px;
    margin-left: 55vw;
    margin-top: 62.3vw;
    white-space: nowrap;
  }
  .mainalt2>h2{
    position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  margin-left: 53vw;
  margin-top: 49vw;
  font-size: 2.5vw;}

  .mainalt>p{
    position: absolute;
    font-weight: bold;
    font-family: yazı;
    font-size: 20px;
    margin-left: 4vw;
    margin-top: 50vw;
    padding-bottom: 100px;
  }
  .mainpng2 > img {
    position: absolute;
    margin-left: 30vw;
    margin-top: 40vw !important;
    height: 35px;
  }

  .mainpng1 > img{
    position: absolute;
    margin-left: 59px;
    margin-top: 40vw !important;
    height: 35px;
  }
  .ust-yazı > a {
    margin-left: 10vw;
  }

  .buton-sekil {
    position: absolute;
    left: 55px;
    padding-top: 18%;
  }

  .ortaresim > h3 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: yazı;
    padding-left: 55px;
    padding-top: 30vw;
    font-size: 3vw;
  }
  .ortaresim > h2 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 55px;
    padding-top: 22vw;
    font-size: 3vw;
  }
  .ortaresim > h1 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 5vw;
  }
  .ortaresim > img {
    width: 84vw;
    padding-left: 220px;
  }
}

@media only screen and (min-width: 1200px) {
  .arrow > img{
    position: absolute;
    margin-top: 62.3vw;
    margin-left: 67vw;
    height: 30px;
  }
  .learn{
    position: absolute;
    font-family: üstyazı;
    font-size: 30px;
    width: 86px;
    height: 17px;
    margin-left: 53vw;
    margin-top:62vw;
    white-space: nowrap;
  }

  .mainalt2>h2{
    position: absolute;
  text-align: left;
  color: #010101;
  font-family: üstyazı;
  margin-left: 53vw;
  margin-top: 49vw;
  font-size: 2.5vw;}

  .mainalt>p{
    position: absolute;
    font-weight: bold;
    font-family: yazı;
    font-size: 25px;
    margin-left: 4vw;
    margin-top: 50vw;
    padding-bottom: 100px
    ;
  }
  .mainpng2 > img {
    position: absolute;
    margin-left: 30vw;
    margin-top: 40vw !important;
    height: 40px;
  }

  .mainpng1 > img{
    position: absolute;
    margin-left: 63px !important;
    margin-top: 40vw;
    height: 40px;
  }
  .üst-yazı > a {
    margin-left: 10vw;
  }
  
  .buton-sekil {
    position: absolute;
    left: 55px;
    padding-top: 18%;
  }
  .ortaresim > h3 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: yazı;
    padding-left: 60px;
    padding-top: 30vw;
    font-size: 3vw;
  }
  .ortaresim > h2 {
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 60px;
    padding-top: 22vw;
    font-size: 3vw;
  }
  .ortaresim > h1 {
    position: absolute;
    text-align: left;
    color: #010101;
    font-family: üstyazı;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 5vw;
  }
  .ortaresim > img {
    width: 81.5vw;
  }
}